.container {
    margin-top: 50px;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font-weight-bold {
    font-weight: bold;
}